<div class="container content">
	<div class="news">
		<h4>Latest News:</h4>
    	<p>Hey guys! I’m really excited to tell you all about this new project I’ve been working on. I have started to make recordings of sounds you’d hear in your everyday life. I want to loop them and layer them to create a few tracks. I want to show that music can be accessible to everyone, that you don’t need expensive instruments or equipment to make good music. Remember, music is all around us, you just need to listen for it. I can’t wait to share the new tracks with you guys, subscribe at the bottom of the page to get an email when I post them!</p>
	</div>
	<hr>
	<div class="tracks">
		<h4>Top Tracks:</h4>
		<div class="row">
			<div class="col-12 col-md-3 embed">
				<iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://www.reverbnation.com/widget_code/html_widget/artist_4907479?widget_id=55&pwc[song_ids]=29928500&context_type=song&pwc[branded]=1" style="width:0px;min-width:100%;max-width:100%;"></iframe>
			</div>
			<div class="col-12 col-md-3 embed">
				<iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://www.reverbnation.com/widget_code/html_widget/artist_4907479?widget_id=55&pwc[song_ids]=29045738&context_type=song&pwc[branded]=1" style="width:0px;min-width:100%;max-width:100%;"></iframe>
			</div>
			<div class="col-12 col-md-3 embed">
				<iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://www.reverbnation.com/widget_code/html_widget/artist_4907479?widget_id=55&pwc[song_ids]=29841341&context_type=song&pwc[branded]=1" style="width:0px;min-width:100%;max-width:100%;"></iframe>
			</div>
			<div class="col-12 col-md-3 embed">
				<iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://www.reverbnation.com/widget_code/html_widget/artist_4907479?widget_id=55&pwc[song_ids]=29342994&context_type=song&pwc[branded]=1" style="width:0px;min-width:100%;max-width:100%;"></iframe>
			</div>
		</div>
	</div>
	<hr>
    <div class="blog">
    	<h4>Latest Blog Posts:</h4>
    	<div class="row">
			<div class="col-12 col-md-6 snippet">
				<p>Living a vegan lifestyle can make family gatherings pretty difficult. It’s a pretty common joke in the vegan community that when you show up to a family dinner, the “special” meal prepared for you is just a head of cauliflower. And that’s pretty much what Tiffany and I expect whenever we go to a holiday or dinner party.</p>
				<a routerLink="/blog">Read More</a>
			</div>
			<div class="col-12 col-md-6 snippet">
				<p>Tiffany’s sister just moved in to a new house in Buffalo with her boyfriend and today is National Taco Day, so naturally we had to drive to her new house and go get some Mexican food with her. We spent a really long time looking up restaurants that would have vegan options. We found some that had really good reviews but were a bit further than we wanted to drive (after already driving an hour to visit).</p>
				<a routerLink="/blog">Read More</a>
			</div>
		</div>
    </div>
</div>