.about {
	text-align: center;
    font-size: calc(12px + 2.5vw);
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 1em;
}

img {
	width: 60%;
	display: block;
	margin: 0 auto 3em auto;
	object-fit: cover;
	max-height: 200px;
}

.details {
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	color: #00100B;
}

h4.contact {
	margin-top: 1em;
    font-size: calc(12px + 1.5vw);
}