<div class="container">
	<div class="intro">
		<h4 class="about">About Nathan</h4>
		<img src="./assets/images/squirrel.jpg">
	</div>
	<p class="details">&nbsp; Nathan James is an experimental solo artist from Rochester, New York. He has always had an
		interest in music, and started out his music career in a punk-rock band called Ghost Righter. He is also the owner
		and operator of Harmonious Recording Solutions where he helps others record and produce their music. Now, Nathan
		James is focusing on producing his own music in which he experiments with mixing many different genres including
		jazz, punk, classical, and rock. His most recent endeavor includes using everyday objects to create music. Nathan
		recognizes the importance of feedback and appreciates any comments (compliments or criticisms) that you provide on
		his blog. Subscribe below to receive notifications when Nathan James releases new music.</p>
	<br>
	<p class="details">&nbsp; Nathan and his wife Tiffany live a vegan lifestyle. They don’t eat or use anything that
		comes from animals or animal by-products. Nathan enjoys discussing veganism with others – and loves cooking – head
		over to his blog to read more about restaurants he’s been to, recipes he enjoys, and other things he comes across in
		his daily life. Feel free to leave comments on his posts to let him know what restaurants and recipes you think he
		should try or tell him about anything else you think he would enjoy! Subscribe below to get notifications when Nathan
		makes a new post.
		Helping others is extremely important to Nathan James, so it is only natural that he is currently working toward a
		degree in music therapy. In the meantime, he works as a music therapist at a local day rehabilitation center, where
		he works with people with varying disabilities. You can read more about music therapy and find resources here.</p>
</div>
<div class="container-fluid">
	<nj-ig-feed></nj-ig-feed>
</div>
<div class="container">
	<h4 class="about contact">Contact Nathan Below!</h4>
</div>