<div class="container">
	<div class="row blog-page-header">
		<p class="title">Blog Page</p>
	</div>
	<div class="row blog-page-header">
		<p class="blog-page-sub-header">Vegan Thanksgiving Feast</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<p class="blog-content">
			Living a vegan lifestyle can make family gatherings pretty difficult. It’s a pretty common joke in the vegan
			community that when you show up to a family dinner, the “special” meal prepared for you is just a head of
			cauliflower. And that’s pretty much what Tiffany and I expect whenever we go to a holiday or dinner party.
			This year we celebrated Thanksgiving with Tiffany’s family, and while her sisters try to be supportive and
			understanding, her extended family can sometimes be a little less considerate of our dietary choices. Needless to
			say, we were a bit concerned that there wouldn’t be much to eat other than a head of cauliflower. We brought some
			macaroni and “cheese” just to be safe.
			We walked in and saw that her uncle had made a smaller batch of mashed potatoes without dairy, so we thought at
			least we would have that to go with what we made. Tiffany’s sisters arrived shortly after us, and one of them had
			something interesting looking in her hands. Their uncle was pretty upset that she brought an extra meal without
			asking, but I was curious to know what it was since she told Tiffany she made it for us. We had spent the night in
			the ER, so she made it in case we weren’t able to get the mac and “cheese” done.
			She said it was a stuffed seitan loaf, which sounded pretty good. We’ve used seitan before for “chicken” wings, but
			hadn’t made a loaf like this yet. It was pretty good and was stuffed with stuffing, walnuts, cranberries, and
			onions.
			I asked her for the recipe so that we could make it as our backup for the next family gathering. She adapted it from
			this recipe
			<a class="link-color" href="https://blog.fatfreevegan.com/2011/12/seitan-stuffed-with-walnuts-dried-cranberries-and-mushrooms.html"
			target="_blank">Seitan stuffed with walnuts, dried cranberries, and mushrooms.
				<fa name="external-link"></fa></a>. She used a
			box stuffing mix instead of the bread and left out the celery because of
			allergies. She also left out a few things like chia and marjoram that she didn’t have. I’d definitely like to try
			making it myself and change up a few of my own things about he recipe.
			What changes do you guys think I should make? Or do you think I should make it as-is? Let me know in the comments if
			you’ve made this recipe or a similar one!
		</p>
	</div>
	<div class="row">
		<img class="blog-image" src="./assets/images/cauliflower-3170069_640.jpg">
	</div>
	<div class="row">
		<nj-comments class="comments" [comments]="post1Comments"></nj-comments>
	</div>
</div>
<hr />
<div class="container">
	<div class="row blog-page-header">
		<p class="blog-page-sub-header">New House, New Town, New Mexican Restaurants</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<p class="blog-content">
			Tiffany’s sister just moved in to a new house in Buffalo with her boyfriend and today is National Taco Day, so
			naturally we had to drive to her new house and go get some Mexican food with her. We spent a really long time
			looking up restaurants that would have vegan options. We found some that had really good reviews but were a bit
			further than we wanted to drive (after already driving an hour to visit). Finally, we settled on La Tolteca on
			Transit Road.
			Our experience didn’t start out great. We walked in and there was no host in sight, but we noticed a server walk by
			us and then start chatting up a group of people nearby. We waited a few minutes and eventually the server we had
			seen came over to seat us, apparently he was the host that evening but instead of seating us, he started and
			maintained a pretty long conversation with a nearby table. But you know, whatever, he’s gotta do what he can to get
			good tips. Tiffany and I have bother worked in the restaurant industry so we get it.
			We sit down, wait for our server and start talking about what options there are for me and Tiffany to order. It was
			a bit busy, so the server took quite a bit of time to finally come over, but he seemed pretty friendly. We get our
			drinks, we all ordered (virgin) strawberry daiquiris…and they all had whipped cream. At this point we never
			mentioned being vegan and we didn’t think about there being whipped cream, so it was definitely our fault.
			Tiffany’s sister ate the whipped cream from everyone’s and we waited for our server to come back again to order.
			Tiffany and I both ordered some vegetarian dished, explained that we’re vegan, and just asked that they not put the
			sour cream or cheese on anything. He sister doesn’t like Mexican rice or beans, so she asked for no cheese on those
			either so she could give them to Tiffany.
			We waited and waited again. The food came out, there was sour cream and cheese on my sides, but at least Tiffany’s
			came out with no dairy. No biggie, we’re used to scraping things off and eating around it and we didn’t want to
			cause a fuss, wait longer, or waste any food. The food wasn’t great, but maybe that’s just because the people who
			recommended the restaurant to us had hyped it up so much.

			Overall, I think I’d rather try somewhere else next time – but it would be okay in a pinch. Do you guys have any
			recommendations in the Buffalo area (close to Clarence/Williamsville) that we should try next time?
		</p>
	</div>
	<div class="row">
			<nj-comments class="comments" [comments]="post2Comments"></nj-comments>
		</div>
</div>