<div class="container">
  <div class="row music-therapy-page-header">
    <p class="title">Music Therapy</p>
  </div>
  <div class="row music-therapy-page-header">
    <p class="music-therapy-page-sub-header">Get Involved With The Movement Now</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <p class="music-therapy-content">Hey, this is Nathan and I'm currently attending school for music therapy. I also
      work at a day-hab center where
      I use music therapy with people who have varying disabilities. I very strongly believe in
      the positive effects music can have and want to share it with others.
    </p>
    <img class="music-therapy-image" src="../../assets/images/therapy.jpg">
    <p class="music-therapy-content">
      After World War II, the United States Army funded research into music therapy for veterans, and this is where
      modern day music therapy got its start. Music therapy has been used in the military to help veterans recover from
      both the physical and emotional trauma of war. A large focus of music therapy has always been on people
      (typically veterans) with Post Traumatic Stress Disorder (PTSD), but now it is widely recognized that music
      therapy is beneficial for many other disorders as well.
    </p>
    <p class="music-therapy-content">
      Music therapists have the important role of observing emotional reactions and providing proper interventions
      using music. It is important to get music therapy through a trained individual because they are taught to be able
      to maintain a safe and controlled environment for the people receiving music therapy.
    </p>
  </div>
  <div class="row">
    <p class="music-therapy-content">For more information on music therapy, visit the <a href="https://www.musictherapy.org"
        target="_blank">American Music Therapy Association <fa name="external-link"></fa>
      </a>. </p>
    <p class="music-therapy-content">For resources on music therapy for veterans, try some of these sites:</p>
  </div>
  <div class="row">
    <ul>
      <li><a href="http://www.asapasap.org" target="_blank">Armed Services Arts Partnership <fa name="external-link"></fa></a>:
        Provides free access to expressive art programs, including music.</li>
      <li><a href="http://www.guitarsforvets.org/" target="_blank">Guitars for Vets
          <fa name="external-link"></fa>
        </a>: Provides access to guitars and music lessons for veterans.</li>
      <li><a href="http://www.heroesvoices.org" target="_blank">
          Heroes' Voices <fa name="external-link"></fa>
        </a>: Provides free workshops, online lessons and other online resources for veterans.</li>
      <li><a href="http://www.redcon1musicgroup.com" target="_blank"> Redon 1 Music Group
          <fa name="external-link"></fa>
        </a>: Provides music therapy and other music related services for veterans with PTSD.
      </li>
      <li><a href="http://www.musicisthemedicine.org" target="_blank">Music is the Medicine Foundation
          <fa name="external-link"></fa>
        </a>: A not-for-profit organization that provides many different programs and events, including music therapy.
      </li>
    </ul>
  </div>
</div>